:root {
    --green: #7c942c;
    --blue: #24345c;
    --snow: #fffbffff;
}

body {
    background-color: var(--snow);
    font-family: 'Poppins', sans-serif;
}


.text-green {
    color: var(--green);
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
    color: white;
}

.bg-green {
    background-color: var(--green);
    color: white;
}
