:root {
    --green: #7c942c !important;
    --blue: #24345c !important;
    --snow: #fffbffff !important;
}

body {
    background-color: var(--snow);
    font-family: 'Poppins', sans-serif;
}


.text-green {
    color: var(--green);
}

.text-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
    color: white;
}

.bg-green {
    background-color: var(--green);
    color: white;
}

#video video{
    width: 100%;
    height: 540px;
}

@media(max-width: 999px){
    #video video{
        width: 100%;
        height: 480px;
    }
}

@media(max-width: 768px){
    #video video{
        width: 100%;
        height: 360px;
    }
}

@media(max-width: 500px){
    #video video{
        width: 100%;
        height: 315px;
    }
}
